table {
    width: 100%; 
}

table th {
    font-weight: bolder;
    color:#5e35b1;
    font-size: medium;
}

table td {
    font-weight: bold;
}

.id {
    font-weight: bold;
    font-size: large;

}

.container-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
        margin: 0;
        font-size: large;
        font-weight: bolder;
    }
}
