<mat-toolbar color="primary" class="footer">
    <small>© 2022 Todos os direitos reservados. Helpr Manager® é uma marca registrada da SoulCode Academy.</small>
    <small>Endereço: Alameda Santos, 1165, 11ª andar </small>
    <small>Jardim Paulista - São Paulo/SP - CEP: 01419-002</small>
    <small>Contato: atendimento@soulcodeacademy.org</small>
    <small>Tel: +55 (11) 4810-3644</small>
    <mat-toolbar class="logo-redes" color="primary">
        <a href="https://www.facebook.com/SoulCodeAcademy" target="_blank"><img src="assets\img\icons8-facebook-novo-24.png"></a>
        <a href="https://www.instagram.com/soulcodeacademy/" target="_blank"><img src="assets\img\icons8-instagram-24.png"></a>
        <a href="https://www.linkedin.com/company/soulcodebrasil/" target="_blank"><img src="assets\img\icons8-linkedin-24.png"></a>
        <a href="https://twitter.com/SoulCodeAcademy" target="_blank"><img src="assets\img\icons8-twitter-24.png"></a>
    </mat-toolbar>
</mat-toolbar>