img {
  height: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mat-card {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  padding-top: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  display: flex;
  justify-content: flex-end;
}
