.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  button {
    margin-right: 30px;
  }
}

.tabs {
  margin-top: 15px;
}

.mat-form-field + .mat-form-field {
  margin-left : 8px ;
}

table {
  width : 100% ;
}

th {
  width: 50%;
  font-weight: bold;
  
}

td {
  width: 50%;
  text-align: left;
}