<div class="grid-container">
  

  <mat-grid-list cols="4" rowHeight="350px" gutterSize=" 15px">
  <mat-grid-tile class="block" colspan="2" rowspan="1">
    Chamados
  </mat-grid-tile>

  <mat-grid-tile class="block" colspan="2" rowspan="1">
    Meta semanal
  </mat-grid-tile>

  <mat-grid-tile class="block" colspan="2" rowspan="1">
    Demanda da região
  </mat-grid-tile>

  <mat-grid-tile class="block" colspan="2" rowspan="1">
    Prioridades
  </mat-grid-tile>

  <mat-grid-tile class="block" colspan="2" rowspan="1">
    Chamados pendentes
  </mat-grid-tile>

  <mat-grid-tile class="block" colspan="4" rowspan="1">
    Relatórios
  </mat-grid-tile>
  </mat-grid-list>
</div>
