<h2 mat-dialog-title>Informações do Técnico</h2>
<mat-card class="list-details">
    <dt>ID </dt>
    <dd>{{tecnico.id}}</dd>
    <dt>Nome</dt>
    <dd>{{tecnico.nome}}</dd>
    <dt>CPF</dt>
    <dd>{{tecnico.cpf}}</dd>
    <dt>Email</dt>
    <dd>{{tecnico.email }}</dd>
    <dt>Perfis</dt>
    <dd>{{tecnico.perfis }}</dd>
    <dt>Data de Criação</dt>
    <dd>{{tecnico.dataCriacao }}</dd>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="warn" matTooltip="Fechar">Fechar</button>
    </mat-dialog-actions>
</mat-card>