<mat-drawer-container autosize>
    <mat-drawer #drawer mode="over">
        <mat-nav-list>
            <a mat-list-item routerLink="/home">
                <mat-icon color="primary">home</mat-icon>
                Página principal
            </a>
            <a mat-list-item routerLink="/clientes">
                <mat-icon color="primary">person</mat-icon>
                Clientes
            </a>
            <a mat-list-item routerLink="/tecnicos">
                <mat-icon color="primary">support_agent</mat-icon>
                Técnicos
            </a>
            <a mat-list-item routerLink="/chamados">
                <mat-icon color="primary">perm_phone_msg</mat-icon>
                Chamados
            </a>
            <a mat-list-item routerLink="/faq">
                <mat-icon color="primary">quiz</mat-icon>
                FAQ
            </a>
            <a mat-list-item routerLink="/logout">
                <mat-icon color="primary">logout</mat-icon>
                Sair
            </a>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>

        <mat-toolbar color="primary">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>
                <h1>HelpR</h1>
            </span>
            <a routerLink="/home">
                <img src="assets/icons/icon-72x72.png" alt="Logo">
            </a>
        </mat-toolbar>

        <div class="container">
            <ng-content></ng-content>
        </div>

    </mat-drawer-content>
</mat-drawer-container>