.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  margin-bottom: 20px;
}

.margin {
  margin-right: 15px;
}

.status-prioridade {
  width: 100%;
  display: flex;
  justify-content: space-between;

  mat-form-field {
    width: 48%;
  }
}

.formulario {
  width: 350px;
  height: auto;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 25px;
}

.description {
  min-height: 30px;
  max-height: 80px;
}

form a,
form button {
  margin-left: 20px;
  float: right;
}

@media only screen and (max-width: 400px) {
  .container {
    display: flex;
    justify-content: start;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .formulario {
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 25px;
  }
  form a,
  form button {
    margin-left: 10px;
    float: center;
    margin-top: 10px;
  }
}
