@use '@angular/material' as mat;
@import '~@angular/material/theming';

img {
  width: 80%;
}

$mat-primary-scheme:(
  100: #c5cae9,
  500: #61699a,
  700: #303f9f,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: #ffffff,
    700: #ffffff,
  )
);

$mat-accent-scheme: (
  100: #ff80ab,
  500: #ff4081,
  700: #f50057,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: rgba(0,0,0,0.87),
    700:#ffffff,
  )
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-scheme, $mat-accent-scheme);

@include angular-material-theme($app-light-theme);

.login {
  padding-right: 20px;
  width: 100%;
  height: 100%;
  background: rgb(100, 28, 211);

  display: flex;
  justify-content: flex-end;
  align-items: center;

  form {
    width: clamp(300px, 100%, 350px);
    padding: 20px;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: black;

    p {
      text-align: center;
    }

    .tamanho {
      width: 300px;
    }

    button {
      margin-top: 15px;
      margin-bottom: 15px;
      background: rgb(100, 28, 211);
    }

    span {
      margin-top: 15px;
      color: black;
      font-family: 'Roboto', sans-serif;
    }

    a {
      color: black;
      background-color: #FFBE23;
    }
  }
}

mat-toolbar {
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 65px;
    height: 65px;
  }

  mat-icon {
    vertical-align: middle;
  }
}

@media screen and (max-width: 750px) {


  .banner {
    display: none;
  }

  .login {
    flex-wrap: wrap;
    width: 100vw;
    padding-right: 0px;

    form {
      .tamanho {
        width: clamp(200px, 100%, 300px);
      }
      img {
        height: 100px;
        width: clamp(150px, 100%, 200px);
        margin: 0 auto;
      }
      margin: 0 auto 180px auto;
      height: 430px;
      width: clamp(300px, 100%, 350px);
    }
  }
}
