<mat-toolbar>
    <img id="logoNavbar" src="https://raw.githubusercontent.com/victoricoma/helprback/main/img/logoQuadrado/1.png"
        alt="">
    <div class="buttons">
        <button mat-button matTooltip="Trabalhe conosco" (click)="openDialog('500ms', '333ms')">
            <mat-icon color="primary">badge</mat-icon>
        </button>
    </div>
</mat-toolbar>

<div class="login">
    <img src="https://raw.githubusercontent.com/victoricoma/helprback/main/img/outsiteBanner/1.png" class="full-width">
    <form class="mat-elevation-z8" [formGroup]="formLogin" (ngSubmit)="logar()">
        <img src="assets/img/ext1.png" alt="Helpr" class="full-width">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Senha</mat-label>
            <input type="password" matInput formControlName="senha">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" class="full-width">Login</button>
        <span>Ainda não é um cliente?</span>
        <a (click)="openClientesFuturos('0ms', '0ms')" mat-raised-button  class="full-width">Cadastre-se</a>
    </form>
    <df-messenger intent="WELCOME" chat-title="HelprAgent" agent-id="5b6e68b8-cb7a-4d7f-9c2e-fe44be9e9082"
        language-code="pt-br"
        chat-icon="https://user-images.githubusercontent.com/31005408/175540574-9d72bed8-746c-42b7-aaae-8f5dc28ac8e8.png">
    </df-messenger>
</div>
