img {
  width: 80%;
}

.login {
  padding-right: 20px;
  width: 100%;
  height: 100%;
  background: rgb(100, 28, 211);

  display: flex;
  justify-content: flex-end;
  align-items: center;

  form {
    width: clamp(300px, 100%, 350px);
    padding: 20px;
    border-radius: 10px;
    background-color: #F5F5F5;

    .tamanho {
      width: 300px;
    }

    button {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    span {
      margin-top: 15px;
      color: black;
      font-family: 'Roboto', sans-serif;
    }

    a {
      color: black;
      background-color: #FFBE23;
    }
  }
}

mat-toolbar {
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 65px;
    height: 65px;
  }

  mat-icon {
    vertical-align: middle;
  }
}