.login {
    width: 100%;
    height: 100%;
    background: rgb(64,93,236);
    background: linear-gradient(45deg, rgba(64,93,236,1) 0%, rgba(158,70,252,1) 50%);

    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: clamp(300px, 100%, 350px);
        padding: 20px;
        border-radius: 10px;
        background-color: white;

        button {
            margin-top: 15px;
        }
    }
}