form a,
form button {
    margin-left: 20px;
    float: right;
    margin-top: 10px;
}

.section {
    margin-bottom: 20px;
}

.margin {
    margin-right: 15px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario{
  width: 350px;
  height: auto;
  border-radius: 15px;
  padding: 25px;
}

@media only screen and (max-width: 400px) {
  .container {
    display: flex;
    justify-content: start;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .formulario {
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 25px;
  }
  form a,
  form button {
    margin-left: 10px;
    float: center;
    margin-top: 10px;
  }
}
