<div class="grid-container">
  <h1 class="mat-h1">Métricas</h1>

  <mat-grid-list cols="4" rowHeight="350px" gutterSize=" 15px">
  <mat-grid-tile class="block" colspan="2" rowspan="1">
    first card here
  </mat-grid-tile>
  <mat-grid-tile class="block" colspan="2" rowspan="1">
    second card here
  </mat-grid-tile>
  <mat-grid-tile class="block" colspan="4" rowspan="1">
    Third card here
  </mat-grid-tile>
  <mat-grid-tile class="block" colspan="4" rowspan="1">
    Fourth card here
  </mat-grid-tile>
  </mat-grid-list>
</div>
