<div class="form-cadastro">
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step>
      <form [formGroup]="clientesFuturos">
        <ng-template matStepLabel>Informe seu nome</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome">
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="clientesFuturos">
        <ng-template matStepLabel>Informe seu telefone</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="telefone">
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="clientesFuturos">
        <ng-template matStepLabel>Informe seu e-mail</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
      </form>
      <div class="b-container">
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finalizar cadastro</ng-template>
      <div class="buttons">
        <button mat-button mat-dialog-close>Fechar</button>
        <button type="submit" mat-raised-button mat-dialog-close color="primary"
          (click)="enviarCliente()">ENVIAR</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
