/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '../node_modules/ngx-toastr/toastr';

@include mat.core();

$my-primary: mat.define-palette(mat.$deep-purple-palette, 600);
$my-accent: mat.define-palette(mat.$purple-palette, 800);
$my-warn: mat.define-palette(mat.$red-palette, 900);

$my-theme: mat.define-light-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn
    )
));

@include mat.all-component-themes($my-theme);

* {
    box-sizing: border-box;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.container {
    width: clamp(300px, 100%, 1200px);
    margin: 50px auto 0 auto;
    padding: 0 30px;
}

.full-width {
    width: 100%;
}

.snack{
    background-color: #F5F5F5;
    color: #5E35B1;
    text-align: justify;
    font-weight:500;
}

df-messenger { 
      --df-messenger-bot-message: #9e46fc;
      --df-messenger-user-message:  #405dec;
      --df-messenger-button-titlebar-color: #5E35B1;
      --df-messenger-chat-background-color: #fff;
      --df-messenger-font-color: #fff;      
      --df-messenger-minimized-chat-close-icon-color: #fff;
}