<nav-bar>
  <mat-tab-group mat-align-tabs = "center">
    <mat-tab label="Métricas"><app-dashadmin></app-dashadmin></mat-tab>
    <mat-tab label="Urgências"> **** Componente de Urgencias aqui (Tabelas) ****</mat-tab>
    <mat-tab label="Gráficos"> **** Componente de Graficos aqui **** (Cards) </mat-tab>
    <mat-tab label="Mensagens para Técnicos"> **** Componente de Mensagens Técnicos aqui (Cards) **** </mat-tab>
    <mat-tab label="LOGS"> **** LOGS **** </mat-tab>
 </mat-tab-group>
</nav-bar>


